<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.StudyStatisticsMapper">
    
    <resultMap type="StudyStatistics" id="StudyStatisticsResult">
        <result property="statId"    column="stat_id"    />
        <result property="userId"    column="user_id"    />
        <result property="studyDate"    column="study_date"    />
        <result property="planTimeSpent"    column="plan_time_spent"    />
        <result property="tomatoTimeSpent"    column="tomato_time_spent"    />
        <result property="totalTimeSpent"    column="total_study_time"    />
        <result property="completedPlans"    column="completed_plans"    />
        <result property="subjectDistribution"    column="subject_distribution"    />
        <result property="productivityScore"    column="productivity_score"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectStudyStatisticsVo">
        select stat_id, user_id, study_date, plan_time_spent, tomato_time_spent, total_study_time, completed_plans, subject_distribution, productivity_score, create_time, update_time from study_statistics
    </sql>

    <select id="selectStudyStatisticsList" parameterType="StudyStatistics" resultMap="StudyStatisticsResult">
        <include refid="selectStudyStatisticsVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="studyDate != null "> and study_date = #{studyDate}</if>
            <if test="planTimeSpent != null "> and plan_time_spent = #{planTimeSpent}</if>
            <if test="tomatoTimeSpent != null "> and tomato_time_spent = #{tomatoTimeSpent}</if>
            <if test="totalTimeSpent != null "> and total_study_time = #{totalTimeSpent}</if>
            <if test="completedPlans != null "> and completed_plans = #{completedPlans}</if>
            <if test="subjectDistribution != null  and subjectDistribution != ''"> and subject_distribution = #{subjectDistribution}</if>
            <if test="productivityScore != null "> and productivity_score = #{productivityScore}</if>
        </where>
        order by study_date desc
    </select>
    
    <select id="selectStudyStatisticsByStatId" parameterType="Long" resultMap="StudyStatisticsResult">
        <include refid="selectStudyStatisticsVo"/>
        where stat_id = #{statId}
    </select>
        
    <insert id="insertStudyStatistics" parameterType="StudyStatistics" useGeneratedKeys="true" keyProperty="statId">
        insert into study_statistics
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="studyDate != null">study_date,</if>
            <if test="planTimeSpent != null">plan_time_spent,</if>
            <if test="tomatoTimeSpent != null">tomato_time_spent,</if>
            <if test="totalTimeSpent != null">total_study_time,</if>
            <if test="completedPlans != null">completed_plans,</if>
            <if test="subjectDistribution != null">subject_distribution,</if>
            <if test="productivityScore != null">productivity_score,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="studyDate != null">#{studyDate},</if>
            <if test="planTimeSpent != null">#{planTimeSpent},</if>
            <if test="tomatoTimeSpent != null">#{tomatoTimeSpent},</if>
            <if test="totalTimeSpent != null">#{totalTimeSpent},</if>
            <if test="completedPlans != null">#{completedPlans},</if>
            <if test="subjectDistribution != null">#{subjectDistribution},</if>
            <if test="productivityScore != null">#{productivityScore},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateStudyStatistics" parameterType="StudyStatistics">
        update study_statistics
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="studyDate != null">study_date = #{studyDate},</if>
            <if test="planTimeSpent != null">plan_time_spent = #{planTimeSpent},</if>
            <if test="tomatoTimeSpent != null">tomato_time_spent = #{tomatoTimeSpent},</if>
            <if test="totalTimeSpent != null">total_study_time = #{totalTimeSpent},</if>
            <if test="completedPlans != null">completed_plans = #{completedPlans},</if>
            <if test="subjectDistribution != null">subject_distribution = #{subjectDistribution},</if>
            <if test="productivityScore != null">productivity_score = #{productivityScore},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where stat_id = #{statId}
    </update>

    <delete id="deleteStudyStatisticsByStatId" parameterType="Long">
        delete from study_statistics where stat_id = #{statId}
    </delete>

    <delete id="deleteStudyStatisticsByStatIds" parameterType="String">
        delete from study_statistics where stat_id in 
        <foreach item="statId" collection="array" open="(" separator="," close=")">
            #{statId}
        </foreach>
    </delete>
    
    <select id="selectStudyStatisticsByUserIdAndDate" resultMap="StudyStatisticsResult">
        <include refid="selectStudyStatisticsVo"/>
        where user_id = #{userId} and study_date = #{studyDate}
    </select>
    
    <select id="selectRecentStudyStatisticsByUserId" parameterType="Long" resultMap="StudyStatisticsResult">
        <include refid="selectStudyStatisticsVo"/>
        where user_id = #{userId}
        order by study_date desc
        limit 7
    </select>
    
    <select id="selectStudySummaryByUserId" parameterType="Long" resultMap="StudyStatisticsResult">
        select 
            user_id,
            sum(plan_time_spent) as plan_time_spent,
            sum(tomato_time_spent) as tomato_time_spent,
            sum(total_study_time) as total_study_time,
            sum(completed_plans) as completed_plans,
            avg(productivity_score) as productivity_score
        from study_statistics 
        where user_id = #{userId}
        group by user_id
    </select>
</mapper>