<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.StudyStatisticsMapper">
    
    <resultMap type="StudyStatistics" id="StudyStatisticsResult">
        <result property="statId"    column="stat_id"    />
        <result property="userId"    column="user_id"    />
        <result property="studyDate"    column="study_date"    />
        <result property="planTimeSpent"    column="total_study_time"    />
        <result property="tomatoTimeSpent"    column="tomato_count"    />
        <result property="totalTimeSpent"    column="total_study_time"    />
        <result property="completedPlans"    column="completed_plans"    />
        <result property="subjectDistribution"    column="subject_distribution"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectStudyStatisticsVo">
        select stat_id, user_id, study_date, total_study_time, tomato_count, completed_plans, subject_distribution, create_time, update_time from study_statistics
    </sql>

    <select id="selectStudyStatisticsList" parameterType="StudyStatistics" resultMap="StudyStatisticsResult">
        <include refid="selectStudyStatisticsVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="studyDate != null "> and study_date = #{studyDate}</if>
            <if test="planTimeSpent != null "> and total_study_time = #{planTimeSpent}</if>
            <if test="tomatoTimeSpent != null "> and tomato_count = #{tomatoTimeSpent}</if>
            <if test="totalTimeSpent != null "> and total_study_time = #{totalTimeSpent}</if>
            <if test="completedPlans != null "> and completed_plans = #{completedPlans}</if>
            <if test="subjectDistribution != null  and subjectDistribution != ''"> and subject_distribution = #{subjectDistribution}</if>
        </where>
        order by study_date desc
    </select>
    
    <select id="selectStudyStatisticsByStatId" parameterType="Long" resultMap="StudyStatisticsResult">
        <include refid="selectStudyStatisticsVo"/>
        where stat_id = #{statId}
    </select>
        
    <insert id="insertStudyStatistics" parameterType="StudyStatistics" useGeneratedKeys="true" keyProperty="statId">
        insert into study_statistics
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="studyDate != null">study_date,</if>
            <if test="planTimeSpent != null">total_study_time,</if>
            <if test="tomatoTimeSpent != null">tomato_count,</if>
            <if test="totalTimeSpent != null">total_study_time,</if>
            <if test="completedPlans != null">completed_plans,</if>
            <if test="subjectDistribution != null">subject_distribution,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="studyDate != null">#{studyDate},</if>
            <if test="planTimeSpent != null">#{planTimeSpent},</if>
            <if test="tomatoTimeSpent != null">#{tomatoTimeSpent},</if>
            <if test="totalTimeSpent != null">#{totalTimeSpent},</if>
            <if test="completedPlans != null">#{completedPlans},</if>
            <if test="subjectDistribution != null">#{subjectDistribution},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateStudyStatistics" parameterType="StudyStatistics">
        update study_statistics
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="studyDate != null">study_date = #{studyDate},</if>
            <if test="planTimeSpent != null">total_study_time = #{planTimeSpent},</if>
            <if test="tomatoTimeSpent != null">tomato_count = #{tomatoTimeSpent},</if>
            <if test="totalTimeSpent != null">total_study_time = #{totalTimeSpent},</if>
            <if test="completedPlans != null">completed_plans = #{completedPlans},</if>
            <if test="subjectDistribution != null">subject_distribution = #{subjectDistribution},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where stat_id = #{statId}
    </update>

    <delete id="deleteStudyStatisticsByStatId" parameterType="Long">
        delete from study_statistics where stat_id = #{statId}
    </delete>

    <delete id="deleteStudyStatisticsByStatIds" parameterType="String">
        delete from study_statistics where stat_id in 
        <foreach item="statId" collection="array" open="(" separator="," close=")">
            #{statId}
        </foreach>
    </delete>
    
    <select id="selectStudyStatisticsByUserIdAndDate" resultMap="StudyStatisticsResult">
        <include refid="selectStudyStatisticsVo"/>
        where user_id = #{userId} and study_date = #{studyDate}
    </select>
    
    <select id="selectRecentStudyStatisticsByUserId" parameterType="Long" resultMap="StudyStatisticsResult">
        <include refid="selectStudyStatisticsVo"/>
        where user_id = #{userId}
        order by study_date desc
        limit 7
    </select>
    
    <select id="selectStudySummaryByUserId" parameterType="Long" resultType="java.util.HashMap">
        select 
            (select count(*) from study_plan where user_id = #{userId} and is_template = 0) as plan_count,
            (select coalesce(sum(tomato_duration), 0) from tomato_record where user_id = #{userId} and status = 1 and start_time >= CURDATE() and start_time &lt; DATE_ADD(CURDATE(), INTERVAL 1 DAY)) as study_hours,
            (select count(*) from tomato_record where user_id = #{userId} and status = 1 and start_time >= CURDATE() and start_time &lt; DATE_ADD(CURDATE(), INTERVAL 1 DAY)) as completed_tasks
    </select>
</mapper>